<div class="main-header">
    <!-- SMALL LOGO HEADER -->
    <%- include('../components/navBar_smallLogo') %>
        <!-- SMALL LOGO HEADER -->

        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <!-- Thanh search -->
                <%- include('../components/navBar_search') %>

                    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                        <!-- Email -->
                        <%- include('../components/navBar_iconEmail') %>

                            <%- include('../components/navBar_notification') %>

                                <%- include('../components/navBar_quickAction') %>

                                    <%- include('../components/navBar_adminAvatar') %>
                    </ul>
            </div>
        </nav>
        <!-- End Navbar -->
</div>