<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
    <div class="container-fluid">
        <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="submit" class="btn btn-search pe-1">
                        <i class="fa fa-search search-icon"></i>
                    </button>
                </div>
                <input type="text" placeholder="Search ..." class="form-control" />
            </div>
        </nav>

        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">

            <%- include('../components/navBar_search') %>

                <%- include('../components/navBar_iconEmail') %>

                    <%- include('../components/navBar_notification') %>

                        <%- include('../components/navBar_quickAction') %>

                            <%- include('../components/navBar_adminAvatar') %>

        </ul>
    </div>
</nav>